.header {
    width: 100%;
    border-bottom: 1px solid var(--color-content-secondary);
}

.nav {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.link {
    text-decoration: none;
    padding: 5px 10px;
}
