.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipeName {
    text-align: center;
    padding: 10px;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.squareImageContainer {
    width: 300px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 6px 12px 4px rgba(0, 0, 0, .1);
    border-radius: 12px;
}

.squareImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    text-align: center;
    padding: 10px;
    display: block;
    font-size: 1.25em;
    font-weight: bold;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    padding-bottom: 10px;
}

.sectionTitle {
    padding: 20px;
    display: block;
    font-size: 1em;
    font-weight: bold;
}

.ingredients {
    padding-top: 20px;
    width: 300px;
}

.ingredientsCard {
    background-color: var(--card-bg-color);
    border-radius: 6px;
}

.ingredient {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    line-height: 20px;
}

.ingredient:after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--color-content-secondary);
}

.instructions {
    width: 300px;
    padding-top: 20px;
}

.instructionsCard {
    background-color: var(--card-bg-color);
    border-radius: 6px;
}

.steps {
    padding-right: 20px;
}

li {
    padding-top: 10px;
}

.servings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid var(--color-content-secondary);
    border-radius: 5px;
    padding: 10px;
}
