.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: row;
}

.sections {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: left;
    padding-left: 20px;
}

.section {
    padding-bottom: 10px;
}

.steps {
    display: flex;
    flex: 2;
    padding-right: 20px;
}

.ingredients {
    flex-direction: column;
    text-align: center;
}

.sectionTitle {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;
}

.squareImageContainer {
    width: 300px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 6px 12px 4px rgba(0, 0, 0, .1);
    border-radius: 12px 12px 0 0;
}

.squareImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    text-align: center;
    color: black;
    position: relative;
    background-color: white;
    width: 300px;
    opacity: 0.8;
    height: 40px;
    top: -40px;
    border-radius: 12px 12px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    padding-top: 10px;
}


h2 {
    text-align: center;
    padding: 10px;
}
