[data-theme="dark"] {
    /* Surfaces */
    --color-surface-background: var(--black-900);
    --color-surface-pagebg: var(--black-150);
    --color-surface-card: var(--black-800);

    /* Content */
    --color-content-primary: white;
    --color-content-secondary: var(--gray-200);
    --content-tertiary: var(--black-50);
}
