[data-theme="light"] {
    /* Surfaces */
    --color-surface-background: white;
    --color-surface-pagebg: white;
    --color-surface-card: var(--gray-100);

    /* Content */
    --color-content-primary: black;
    --color-content-secondary: var(--gray-400);
    --content-tertiary: var(--black-50);
}
