/* see: https://grayscale.design/ */
:root {
    --white: #ffffff;

    --gray-50: #f8f8f8;
    --gray-100: #f0f0f0;
    --gray-200: #e1e1e1;
    --gray-300: #cdcdcd;
    --gray-400: #aeaeae;
    --gray-500: #919191;
    --gray-600: #767676;
    --gray-700: #5e5e5e;
    --gray-800: #4b4b4b;
    --gray-900: #3d3d3d;

    --black-50: #f8f8f8;
    --black-100: #f0f0f0;
    --black-200: #e1e1e1;
    --black-300: #cdcdcd;
    --black-400: #aeaeae;
    --black-500: #919191;
    --black-600: #767676;
    --black-700: #5e5e5e;
    --black-800: #4b4b4b;
    --black-900: #292929;

    --black: #000000;
}
