/* Grayscale Design palette: https://grayscale.design/app?lums=93.87,82.28,68.67,49.10,40.20,32.78,13.29,9.31,6.30,2.62,1.30,0.52&palettes=%23191512,%23f6f5f1,%23f8f8f8,%23f9f8f5,%23e89470,%23f3f1ec,%236fb482&filters=0%7C0,0%7C0,0%7C0,0%7C0,0%7C0,0%7C0,0%7C0&names=charco,brown,gray,cream,terracotta,stone,sage&labels=,,,,,, */
:root {
  --grayscale-50: rgb(248, 248, 248);
  --grayscale-100: rgb(234, 234, 234);
  --grayscale-200: rgb(216, 216, 216);
  --grayscale-300: rgb(186, 186, 186);
  --grayscale-400: rgb(170, 170, 170);
  --grayscale-500: rgb(155, 155, 155);
  --grayscale-600: rgb(102, 102, 102);
  --grayscale-700: rgb(86, 86, 86);
  --grayscale-800: rgb(71, 71, 71);
  --grayscale-900: rgb(45, 45, 45);
  --grayscale-1000: rgb(30, 30, 30);
  --grayscale-1100: rgb(16, 16, 16);

  --charcoal-50: rgb(249, 248, 246);
  --charcoal-100: rgb(237, 233, 231);
  --charcoal-200: rgb(222, 215, 209);
  --charcoal-300: rgb(196, 184, 174);
  --charcoal-400: rgb(183, 167, 155);
  --charcoal-500: rgb(170, 152, 137);
  --charcoal-600: rgb(117, 99, 84);
  --charcoal-700: rgb(99, 83, 71);
  --charcoal-800: rgb(81, 69, 59);
  --charcoal-900: rgb(52, 43, 37);
  --charcoal-1000: rgb(35, 29, 25);
  --charcoal-1100: rgb(18, 16, 13);

  --brown-50: rgb(249, 248, 245);
  --brown-100: rgb(237, 234, 226);
  --brown-200: rgb(220, 216, 201);
  --brown-300: rgb(193, 186, 159);
  --brown-400: rgb(179, 170, 137);
  --brown-500: rgb(165, 155, 116);
  --brown-600: rgb(110, 102, 71);
  --brown-700: rgb(93, 86, 60);
  --brown-800: rgb(77, 71, 49);
  --brown-900: rgb(49, 45, 31);
  --brown-1000: rgb(33, 30, 21);
  --brown-1100: rgb(18, 16, 11);

  --gray-50: rgb(248, 248, 248);
  --gray-100: rgb(234, 234, 234);
  --gray-200: rgb(216, 216, 216);
  --gray-300: rgb(186, 186, 186);
  --gray-400: rgb(170, 170, 170);
  --gray-500: rgb(155, 155, 155);
  --gray-600: rgb(102, 102, 102);
  --gray-700: rgb(86, 86, 86);
  --gray-800: rgb(71, 71, 71);
  --gray-900: rgb(45, 45, 45);
  --gray-1000: rgb(30, 30, 30);
  --gray-1100: rgb(16, 16, 16);

  --cream-50: rgb(249, 248, 245);
  --cream-100: rgb(237, 234, 225);
  --cream-200: rgb(221, 216, 199);
  --cream-300: rgb(195, 186, 156);
  --cream-400: rgb(182, 169, 133);
  --cream-500: rgb(169, 154, 111);
  --cream-600: rgb(113, 101, 68);
  --cream-700: rgb(95, 86, 57);
  --cream-800: rgb(78, 71, 47);
  --cream-900: rgb(49, 45, 30);
  --cream-1000: rgb(33, 30, 20);
  --cream-1100: rgb(18, 16, 11);

  --terracotta-50: rgb(253, 247, 244);
  --terracotta-100: rgb(250, 230, 222);
  --terracotta-200: rgb(245, 209, 193);
  --terracotta-300: rgb(237, 171, 143);
  --terracotta-400: rgb(232, 150, 115);
  --terracotta-500: rgb(228, 129, 86);
  --terracotta-600: rgb(171, 71, 28);
  --terracotta-700: rgb(145, 60, 23);
  --terracotta-800: rgb(120, 50, 19);
  --terracotta-900: rgb(77, 32, 12);
  --terracotta-1000: rgb(52, 21, 8);
  --terracotta-1100: rgb(28, 12, 5);

  --stone-50: rgb(249, 248, 245);
  --stone-100: rgb(237, 234, 226);
  --stone-200: rgb(221, 216, 201);
  --stone-300: rgb(195, 186, 161);
  --stone-400: rgb(182, 169, 139);
  --stone-500: rgb(168, 154, 118);
  --stone-600: rgb(113, 101, 72);
  --stone-700: rgb(95, 85, 60);
  --stone-800: rgb(79, 70, 50);
  --stone-900: rgb(50, 45, 31);
  --stone-1000: rgb(33, 30, 21);
  --stone-1100: rgb(18, 16, 11);

  --sage-50: rgb(244, 249, 246);
  --sage-100: rgb(222, 238, 227);
  --sage-200: rgb(195, 223, 203);
  --sage-300: rgb(146, 198, 161);
  --sage-400: rgb(120, 184, 138);
  --sage-500: rgb(94, 171, 116);
  --sage-600: rgb(59, 113, 75);
  --sage-700: rgb(50, 95, 63);
  --sage-800: rgb(41, 79, 52);
  --sage-900: rgb(26, 50, 33);
  --sage-1000: rgb(17, 34, 22);
  --sage-1100: rgb(9, 18, 12);
}
