.ingredient {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    line-height: 20px;
}

.ingredientLink {
    text-decoration: underline;
}

.ingredient:after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--color-content-secondary);
}
