.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipeName {
    text-align: center;
    padding: 10px;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.columns {
    display: flex;
}

.leftColumn {
    display: flex;
    flex: 1;
    justify-content: center;
}

.middleColumn {
    display: flex;
    flex: 2;
    justify-content: center;
}

.instruction {
    display: flex;
    flex-direction: column;
}

.instructionCard {
    background-color: var(--card-bg-color);
    border-radius: 6px;
    box-shadow: var(--card-box-shadow);
}

.rightColumn {
    display: flex;
    flex: 1;
    justify-content: center;
}

.imageWrapper {
    display: flex;
    padding-left: 25px;
    padding-top: 50px;
}

.title {
    padding: 10px;
    padding-left: 20px;
    display: block;
    font-size: 1.25em;
    font-weight: bold;
}

.steps {
    padding-right: 20px;
}

.listItem {
    padding-top: 10px;
}
