.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipeName {
    text-align: center;
    padding: 10px;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.title {
    text-align: center;
    padding: 10px;
    display: block;
    font-size: 1.25em;
    font-weight: bold;
}

.ingredients {
    padding-top: 20px;
    width: 300px;
}

.instructions {
    width: 300px;
    padding-top: 20px;
}

.instructionsCard {
    background-color: var(--card-bg-color);
    border-radius: 6px;
}

.steps {
    padding-right: 20px;
}

.listItem {
    padding-top: 10px;
}
