.ingredientsCard {
    background-color: var(--card-bg-color);
    border-radius: 6px;
}

.title {
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    display: block;
    font-size: 1.25em;
    font-weight: bold;
}

.servings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid var(--color-content-secondary);
    border-radius: 5px;
    padding: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    padding-bottom: 10px;
}

.sectionTitle {
    padding: 20px;
    display: block;
    font-size: 1em;
    font-weight: bold;
}

.ingredients {
    padding-top: 10px;
}

.ingredient {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    line-height: 20px;
}

.ingredient:after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--color-content-secondary);
}
