.ingredientsCard {
    background-color: var(--card-bg-color);
    border-radius: 6px;
}

.title {
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    display: block;
    font-size: 1.25em;
    font-weight: bold;
}

.servings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid var(--color-content-secondary);
    border-radius: 5px;
    padding: 10px;
}
