.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.squareImageContainer {
  width: 300px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 6px 12px 4px rgba(0, 0, 0, .1);
  border-radius: 12px;
}

.squareImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  text-align: center;
  color: black;
  position: relative;
  background-color: white;
  max-width: 300px;
  opacity: 0.8;
  height: 40px;
  top: -40px;
  border-radius: 0 0 12px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
