.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.name {
  text-align: center;
  color: black;
  position: relative;
  background-color: white;
  max-width: 300px;
  opacity: 0.8;
  height: 40px;
  top: -40px;
  border-radius: 0 0 12px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
