.imageContainer {
    width: 300px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 6px 12px 4px rgba(0, 0, 0, .1);
    border-radius: 12px;
    position: relative;
}

.squareImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.placeHolder {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
}
