name: Deploy

on:
  push:
    branches:
      - main

env:
  AWS_REGION: eu-north-1
  AWS_SG_NAME: mumsmums-sg

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    permissions:
      id-token: write
      contents: read

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # https://github.com/actions/cache/blob/master/examples.md#node---npm
      - name: Restore NPM cache
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build, test and prepare sources
        run: |
          ./ci/build-sources.sh

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::487538579658:role/github-actions-mumsmums
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          mask-password: 'true'

      - name: Build, tag, and push docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: mumsmums
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $REGISTRY/$REPOSITORY:app-$IMAGE_TAG -f docker/mumsmums.Dockerfile .
          docker build -t $REGISTRY/$REPOSITORY:certbot-$IMAGE_TAG -f docker/certbot.Dockerfile .
          docker build -t $REGISTRY/$REPOSITORY:nginx-$IMAGE_TAG -f docker/nginx.Dockerfile .
          docker build -t $REGISTRY/$REPOSITORY:next-$IMAGE_TAG -f docker/next.Dockerfile .
          docker push $REGISTRY/$REPOSITORY:app-$IMAGE_TAG
          docker push $REGISTRY/$REPOSITORY:certbot-$IMAGE_TAG
          docker push $REGISTRY/$REPOSITORY:nginx-$IMAGE_TAG
          docker push $REGISTRY/$REPOSITORY:next-$IMAGE_TAG

      - name: Get Github Actions IP
        id: ip
        uses: haythem/public-ip@v1.2

      - name: Add Github Actions IP to Security group
        run: |
          aws ec2 authorize-security-group-ingress --group-name ${{ env.AWS_SG_NAME }} --protocol tcp --port 22 --cidr ${{ steps.ip.outputs.ipv4 }}/32

      - name: Deploy Docker image to EC2
        uses: appleboy/ssh-action@master
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: mumsmums
          IMAGE_TAG: ${{ github.sha }}
        with:
          host: ${{ secrets.MUMSMUMS_EC2_PUBLIC_IP }}
          username: ${{ secrets.MUMSMUMS_EC2_USER }}
          key: ${{ secrets.MUMSMUMS_PRIVATE_SSH_KEY }}
          envs: REGISTRY,REPOSITORY,IMAGE_TAG,AWS_REGION
          script: |-
            sudo apt update
            sudo apt install awscli -y
            sudo $(aws ecr get-login --no-include-email --region $AWS_REGION);

            sudo docker pull $REGISTRY/$REPOSITORY:app-$IMAGE_TAG
            sudo docker pull $REGISTRY/$REPOSITORY:nginx-$IMAGE_TAG
            sudo docker pull $REGISTRY/$REPOSITORY:next-$IMAGE_TAG

            sudo docker stop nginx || true
            sudo docker rm nginx || true
            sudo docker stop mumsmums || true
            sudo docker rm mumsmums || true
            sudo docker stop next || true
            sudo docker rm next || true

            sudo docker network create app_net
            sudo docker run -d --name mumsmums --network app_net -p 8080:8080 $REGISTRY/$REPOSITORY:app-$IMAGE_TAG
            sudo docker run -d --name next --network app_net -p 3000:3000 $REGISTRY/$REPOSITORY:next-$IMAGE_TAG
            sudo docker run -d --name nginx --network app_net -p 80:80 -p 443:443 -v /etc/nginx/conf.d:/config -v /etc/letsencrypt:/etc/letsencrypt:ro -v /tmp/acme_challenge:/tmp/acme_challenge $REGISTRY/$REPOSITORY:nginx-$IMAGE_TAG

      - name: Deploy cert renewal script to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.MUMSMUMS_EC2_PUBLIC_IP }}
          username: ${{ secrets.MUMSMUMS_EC2_USER }}
          key: ${{ secrets.MUMSMUMS_PRIVATE_SSH_KEY }}
          source: "ci/certbot-renew.sh"
          target: /home/ubuntu
          strip_components: 1

      - name: SSH into EC2 and set up cron job
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.MUMSMUMS_EC2_PUBLIC_IP }}
          username: ${{ secrets.MUMSMUMS_EC2_USER }}
          key: ${{ secrets.MUMSMUMS_PRIVATE_SSH_KEY }}
          script: |
            if ! crontab -l | grep -q "/home/ubuntu/certbot_renew.sh"; then
              echo "0 3 * * * /home/ubuntu/certbot_renew.sh" | crontab -
            fi

      - name: SSH into EC2 and prune old docker images
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.MUMSMUMS_EC2_PUBLIC_IP }}
          username: ${{ secrets.MUMSMUMS_EC2_USER }}
          key: ${{ secrets.MUMSMUMS_PRIVATE_SSH_KEY }}
          script: |
            sudo docker image prune -a -f

      - name: Remove Github Actions IP from security group
        run: |
          aws ec2 revoke-security-group-ingress --group-name ${{ env.AWS_SG_NAME }} --protocol tcp --port 22 --cidr ${{ steps.ip.outputs.ipv4 }}/32
        if: always()
